{% extends 'base.html.twig' %}

{% block title %}Account created successfully{% endblock %}

{% block body %}
    <h1>Your account has been successfully created</h1>
    <p>An email has been sent that contains a link that you can click to verify your account. This link will expire in
        10 hour(s).</p>
    <p>Please check your email to confirm your account.</p>
    <p>Back to the <a href="{{ path('app_home_index') }}">Home page</a>.</p>
{% endblock %}
